<span class="bg-fighter bg-fighter--left"><img src="/assets/img/hero/fighter-bg1.png" class="scroll-anim scroll-anim--left scroll-anim--only-mobile" [alt]="content.eventFighters.home"></span>
<span class="bg-fighter bg-fighter--right"><img src="/assets/img/hero/fighter-bg2.png" class="scroll-anim scroll-anim--right scroll-anim--only-mobile" [alt]="content.eventFighters.away"></span>

<span class="fighter fighter--left"><img src="/assets/img/hero/fighter1.png" class="scroll-anim scroll-anim--left" [alt]="content.eventFighters.home"></span>
<span class="fighter fighter--right"><img src="/assets/img/hero/fighter2.png" class="scroll-anim scroll-anim--right" [alt]="content.eventFighters.away"></span>

<img src="/assets/img/hero/smoke1.png" class="bg-smoke bg-smoke--animated" alt="Animated smoke effect">
<img src="/assets/img/hero/smoke2.png" class="bg-smoke" alt="Smoke effect">

<img src="/assets/img/hero/shadow-bottom.png" class="shadow" alt="Shadow overlay">
