@import 'src/scss/partials/variables';
@import 'src/scss/partials/animation';

:host {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-fighter {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  max-height: 60%;

  @media (min-width: $mq-mobile) {
    max-width: 60%;
    max-height: 100%;
  }

  @media (min-width: $mq-desktop) {
    max-width: 75%;
  }

  &--left {
    left: -10%;
    z-index: 50;

    @media (min-width: $mq-small-mobile) {
      left: -6%;
    }

    @media (max-width: $mq-mobile) {
      animation: slide-right 1000ms ease-in-out;
    }

    @media (min-width: $mq-mobile) {
      z-index: 51;
    }
  }

  &--right {
    right: 0;
    z-index: 51;

    @media (max-width: $mq-mobile) {
      animation: slide-left 1000ms ease-in-out;
    }

    @media (min-width: $mq-mobile) {
      z-index: 50;
    }
  }

  img {
    width: 100%;
  }
}

.fighter {
  display: none;
  position: absolute;
  bottom: 0;
  max-width: 50%;
  max-height: 65%;

  @media (min-width: $mq-mobile) {
    display: block;
  }

  &--left {
    right: 50%;
    z-index: 55;
    animation: slide-right 1300ms ease-in-out;
  }

  &--right {
    left: 50%;
    z-index: 54;
    animation: slide-left 1300ms ease-in-out;
  }

  img {
    width: 100%;
  }
}

.scroll-anim {
  animation-play-state: paused;
  animation-delay: calc(var(--hero-scroll) * -1s);
  animation-direction: alternate-reverse;
  animation-duration: 1300ms;
  animation-timing-function: ease-in-out;

  &--left {
    animation-name: slide-right;
  }

  &--right {
    animation-name: slide-left;
  }

  &--only-mobile {
    @media (min-width: $mq-mobile) {
      animation: none;
    }
  }
}

.bg-smoke {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 100%;
  z-index: 49;

  &--animated {
    animation: move-right 70000ms linear infinite;
  }
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 60;
}


