<img src="/assets/img/hero/fighter-bg1.png" class="bg-fighter bg-fighter--left" [alt]="content.eventFighters.home">
<img src="/assets/img/hero/fighter-bg2.png" class="bg-fighter bg-fighter--right" [alt]="content.eventFighters.away">

<img src="/assets/img/hero/fighter1.png" class="fighter fighter--left" [alt]="content.eventFighters.home">
<img src="/assets/img/hero/fighter2.png" class="fighter fighter--right" [alt]="content.eventFighters.away">

<img src="/assets/img/hero/smoke1.png" class="bg-smoke bg-smoke--animated" alt="Animated smoke effect">
<img src="/assets/img/hero/smoke2.png" class="bg-smoke" alt="Smoke effect">

<img src="/assets/img/hero/shadow-bottom.png" class="shadow" alt="Shadow overlay">
