@import 'src/scss/partials/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  display: flex;
  margin: 0 0 $size-8;
  font-family: $font-anton;
  font-size: $size-56;
  font-weight: 500;
  line-height: 1;
  letter-spacing: $size-2;
  text-shadow: $shadow;

  @media (min-width: $mq-small-mobile) {
    margin: 0 0 $size-15;
    font-size: $size-80;
  }

  span {
    color: $color-gold;

    &:first-of-type {
      margin: 0 $size-3;
      font-family: $font-openSans;
      font-size: $size-16;
      letter-spacing: $size-2;

      @media (min-width: $mq-small-mobile) {
        font-size: $size-24;
      }
    }
  }
}

h2 {
  display: flex;
  align-items: center;
  margin: 0 0 $size-8;
  font-size: $size-29;
  font-weight: 800;
  line-height: 1;
  color: $color-gold;

  @supports(-webkit-background-clip: text) {
    background-image: $gradient-gold;
    color: transparent;
    -webkit-background-clip: text;
  }

  @media (min-width: $mq-small-mobile) {
    margin: 0 0 $size-15;
    font-size: $size-40;
  }

  span {
    margin: 0 $size-5;
    font-size: $size-10;

    @media (min-width: $mq-small-mobile) {
      font-size: $size-13;
    }
  }
}

h3 {
  margin: 0 0 $size-8;
  font-size: $size-13;
  font-weight: 400;
  color: $color-gold;
  text-shadow: $shadow;

  @media (min-width: $mq-mobile) {
    margin: 0 0 $size-15;
    font-size: $size-15;
    font-weight: 700;
  }
}

h4 {
  max-width: 300px;
  margin: 0 0 $size-30;
  font-size: $size-15;
  color: $color-white;
  text-shadow: $shadow;
}
