@import 'src/scss/partials/variables';

a {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: $size-10 $size-8;
  font-family: $font-anton;
  font-size: $size-14;
  font-weight: 500;
  letter-spacing: $size-1;
  color: $color-white;
  background-color: $color-red;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  @media (min-width: $mq-small-mobile) {
    padding: $size-13 $size-16;
  }

  @media (min-width: $mq-mobile) {
    padding: $size-16 $size-24;
    font-size: $size-18;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: $size-3 solid $color-red;
    transition: all 300ms;
  }

  &:hover {
    &:after {
      width: calc(100% + #{$size-20});
      height: calc(100% + #{$size-20});
      transform: translate(-#{$size-10}, -#{$size-10});
    }
  }
}
